/******* Reset *******/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 blocks */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

i { font-style: normal; }
b { font-weight: normal; }

/******* Fonts *******/

body {
  font-family: georgia, serif;
}


/* Mostra Nuova */
.foo
,#header .secondary
,#story .jmu
,section h2 span
,#header .married
,#wedding div h3
,#wedding div h4
,.coming-soon
,#wedding div h5
{
  font-family: 'Mostra Nuova', "mostra-nuova-1","mostra-nuova-2", 'Futura', 'Century Gothic', 'Helvetica', Arial, sans-serif;
  
}

/* Hellenic Wide */

.foo
,#header h1 .amp
/*,#story .married*/
,#story .roosevelt

{
  font-family: 'Hellenic Wide', "hellenic-wide-1","hellenic-wide-2", serif;
}


/* Mittwoch */
.foo
/*,#header .secondary .top*/
,#story .dc
,section h2 b
{
  font-family: 'Mittwoch' "mittwoch-1","mittwoch-2";
}

/* Bickham Script pro */
.foo
,#header h1
,#story .london
{
  font-family: 'Bickham Script Pro', "bickham-script-pro-1","bickham-script-pro-2", serif;
}






/******* base *******/

body {
  background: #FEFDFC url('vic-wallpaper-wedding.png') center top;
  color: #615;
  font-size: 16px;
}

#wrap {
  width: 900px;
  margin: 0px auto 0px;
  position: relative;
  z-index: 100;
  padding: 20px;
/*  background: #FEFDFC;*/
/*  background: hsla( 30, 50%, 99%, 0.4);*/
}


/******* CSS transforms header *******/

#header {
  position: relative;
}

#fixie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/******* CSS transforms header *******/

.csstransforms #header {
/*  width: 400px;*/
  height: 400px;
/*  background: hsla( 30, 100%, 50%, 0.1 );*/
  margin: 0 auto 40px;
  position: relative;
/*  width: 660px;*/
}

#masthead {
  width: 550px;
  height: 100%;
  position: relative;
}

.csstransforms #header h1 {
}

.csstransforms #header .name {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 105px;
  font-weight: 600;
  line-height: 0.7em;
/*  text-shadow: 0 3px #FFFAF2;*/
}

.csstransforms #header .erin {
  padding-top: 130px;
}



.csstransforms #header .amp {
  display: block;
  font-size: 300px;
  text-align: center;
  line-height: 350px;
  position: absolute;
/*  top: 40px;*/
  width: 100%;  
/*  color: hsla( 0, 0%, 0%, 0.05 );*/
/*  color: #DC8;*/
/*  color: #F5E2BC;*/
  color: #E6DCB3;
/*  color: #FEFDFC;*/
  top: 0;
}

.csstransforms #header .married {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #DC8;
}

.csstransforms #header .married .char {
  position: absolute;
  display: block;
  top: -15px;
  line-height: 30px;
}

/*.csstransforms #header .married .were { margin-top: 55px;}*/

.csstransforms #header .married i {
  display: block; 
  padding-left: 5px;
}

#header .secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

/*#header .location {
  right: 0;
}*/


/*#header .secondary span {
  display: block;
}*/


.csstransforms #header .secondary .char {
  position: absolute;
  display: block;
/*  background: hsla( 240, 100%, 30%, 0.2 );*/
  top: -20px;
  line-height: 40px;
}

#header .big-pic {
  position: absolute;
  right: 0;
  top: 0;
}

/******* Section headers ********/

section {
  margin-bottom: 60px;
}

section h2 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0;
  margin-bottom: 30px;
}

section h2 span {
  display: block;
  font-size: 28px;
  letter-spacing: 0.9em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 50px;
  padding-left: 0.5em;
}

section h2 b {
  display: block;
  text-align: center;
/*  text-transform: capitalize;*/
  font-weight: 800;
  font-size: 76px;
  text-transform: uppercase;
  line-height: 1.0em;
/*  font-style: italic;*/
}

/******* Story ********/


#story p {
  line-height: 1.4em;
}

/*#story p span {
  display: block;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
}*/



#story i {
/*  display: block;*/
/*  font-size: 53px;*/
  color: #DC8;
/*  font-size: 1.3em;*/
}

#story .jmu {
  text-transform: uppercase;
  font-weight: 900;
/*  font-size: 54px;
  line-height: 1.2em;*/
}

#story .london {
/*  font-size: 110px;*/
  font-weight: 700;
/*  line-height: 0.7em;*/
}

#story .dc {
/*  font-size: 44px;*/
  font-weight: 800;
/*  line-height: 1.4em;*/
}

#story .roosevelt {
/*  font-size: 38px;*/
  text-transform: uppercase;
/*  line-height: 1.0em;*/
}

/******* Wedding ********/

#wedding {
  overflow: auto;
}

#wedding div {
  width: 300px;
  float: left;
  text-align: center;
}

#ceremony {
  margin-right: 60px;
}

#wedding div h3 {
  color: #DC8;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#wedding div h3 * { display: block; }

#wedding div h3 b {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

#wedding div h3 span {
  letter-spacing: 0.5em;
  font-size: 17px;
  font-weight: 400;
}

#wedding div h4 {
  font-size: 40px;
  font-weight: 400;
  font-variant: small-caps;
} 

#wedding div h5 {
  font-size: 26px;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

#wedding div p {
  margin-bottom: 1.0em;
}

#wedding div p span {
  display: block;
}

.coming-soon {
  border: 1px solid #DC8;
  text-align: center;
  padding: 20px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 300;
}