/******* Reset *******/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 blocks */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

i { font-style: normal; }
b { font-weight: normal; }

/******* Fonts *******/

body {
  font-family: georgia, serif;
}


/* Mostra Nuova */
.foo
,#header .secondary
,#story .jmu
{
  font-family: 'Mostra Nuova', "mostra-nuova-1","mostra-nuova-2", 'Futura', 'Century Gothic', 'Helvetica', Arial, sans-serif;
  
}

/*{ font-family: georgia;}*/

/* Veer Annabelle */

.foo
{
  font-family: 'Annabelle', "jbt-annabelle-1","jbt-annabelle-2", serif;
}

/* Hellenic Wide */

.foo
,#header h1 .amp
,#story h2
,#story .roosevelt
/*,#header .secondary .bottom*/

{
  font-family: 'Hellenic Wide', "hellenic-wide-1","hellenic-wide-2", serif;
}


/* Mittwoch */
.foo
/*,#header .secondary .top*/
,#story .dc
{
  font-family: 'Mittwoch' "mittwoch-1","mittwoch-2";
}

/* Bickham Script pro */
.foo
,#header h1
,#story .london
{
  font-family: 'Bickham Script Pro', "bickham-script-pro-1","bickham-script-pro-2", serif;
}






/******* base *******/

body {
  background: #FFFAF2;
  color: #615;
}

#wrap {
  width: 660px;
  margin: 20px auto;
}


/******* CSS transforms header *******/

#header {
  position: relative;
}

#header .married {
  font-weight: 300;
}

/******* CSS transforms header *******/

.csstransforms #header {
/*  width: 400px;*/
  height: 400px;
/*  background: hsla( 30, 100%, 50%, 0.1 );*/
  margin: 0 auto 40px;
  position: relative;
  
}

.csstransforms #header h1 {
}

.csstransforms #header .name {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 120px;
  font-weight: 600;
  line-height: 0.7em;
/*  text-shadow: 0 3px #FFFAF2;*/
}

.csstransforms #header .erin {
  padding-top: 120px;
}



.csstransforms #header .amp {
  display: block;
  font-size: 300px;
  text-align: center;
  line-height: 350px;
  position: absolute;
/*  top: 40px;*/
  width: 100%;  
/*  color: hsla( 0, 0%, 0%, 0.05 );*/
  color: #EC8;
/*  color: #F5E2BC;*/
  top: 0;
}

.csstransforms #header .married {
  display: none;
  text-align: center;
  position: absolute;
  background: hsla( 0, 0%, 50%, 0.0 );
/*  border-radius: 120px;*/
/*  left: 280px;*/
  top: 130px;
  left: 5px;
  width: 100%;
/*  border: 2px solid black;*/
/*  left: 5px;*/
  position: absolute;
  font-size: 25px;
  letter-spacing: 0.8em;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
/*  width: 240px;
  height: 240px;*/
}

/*.csstransforms #header .married .were { margin-top: 55px;}*/

.csstransforms #header .married i {
  display: block; 
  padding-left: 5px;
}

#header .secondary {
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

/*#header .location {
  right: 0;
}*/


/*#header .secondary span {
  display: block;
}*/


.csstransforms #header .secondary .char {
  position: absolute;
  display: block;
/*  background: hsla( 240, 100%, 30%, 0.2 );*/
  top: -20px;
  line-height: 40px;
}

/* Story */

 
#story h2 {
  color: #EC8;
  border-top: 4px solid;
  border-bottom: 4px solid;
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.0em;
  text-transform: uppercase;
/*  font-style: italic;*/
/*  letter-spacing: 0.2em;*/
/*  font-weight: 800;*/
}

/*#story h2 b { font-weight: 800;}*/

#story h2 b {
  display: block;
  font-size: 70px;
  line-height: 1.0em;
/*  font-weight: 800;*/
/*  letter-spacing: 0.2em;*/
}

#story i {
  display: block;
  text-align: block;
  font-size: 53px;
  text-align: center;
  color: #EC8;
}

#story .jmu {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 92px;
}

#story .jmu span {
  display: block;
  font-size: 40px;
  letter-spacing: 1.2em;
  font-weight: 700;
  text-align: center;
  padding-left: 0.4em;
}

#story .london {
  font-size: 200px;
  font-weight: 700;
  line-height: 120px;
}

#story .dc {
  font-size: 62px;
  font-weight: 800;
  font-style: italic;
}

